@font-face {
  font-family: 'montserratregular';
  src: url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
  outline: none; }

.button {
  display: block;
  min-width: 9rem;
  height: 3.6rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 3.6rem;
  color: white;
  border-radius: 3px;
  transition: all 0.3s; }
  .button.left {
    margin-right: auto; }
  .button:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15); }
  .button.center {
    margin: 3rem auto; }
  .button:disabled {
    opacity: 0.6;
    pointer-events: none; }

.button-icon {
  background-image: url("img/download-icon-white.svg");
  background-size: 3.2rem 3.2rem;
  background-position: left center;
  background-repeat: no-repeat;
  min-width: 0;
  padding: 0 1.4rem 0 3.4rem;
  text-align: left; }

.button-filled {
  background-color: #498fa7; }

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(82, 109, 122, 0.8);
  opacity: 0;
  transition: all 0.5s;
  z-index: z(modal); }

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  width: 94vw;
  height: 56vh;
  max-width: 80rem;
  min-height: 43rem;
  overflow: hidden;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, transform 0.3s, width 0.1s; }
  .modal-container form {
    height: 100%; }
  .modal-container .form-elements-container {
    width: 80%;
    padding-top: 3rem;
    margin: 0 auto; }

.file-details-title {
  display: none; }

.modal-header {
  height: 5rem;
  background-color: #eef0f1;
  color: #0c3450;
  border-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 2rem; }
  .modal-header h1 {
    float: left;
    width: calc(100% - 14rem);
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 5rem;
    font-family: "montserratregular", sans-serif; }

.modal-close-button, .popup-close-button {
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  filter: blur(0);
  background: transparent url("../src/img/modal-close.svg") center center no-repeat;
  background-size: 1.7rem 1.7rem; }

.popup-close-button {
  width: 4.2rem;
  height: 4.2rem;
  background-size: 1.4rem 1.4rem; }

.modal-enter-active .modal-container {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  opacity: 1; }

.modal-enter-done .modal-container {
  transform: translate(-50%, -50%); }

.modal-contents {
  position: relative;
  height: calc(100% - 5rem - 7rem - 4rem);
  padding: 2rem 4rem;
  font-size: 1.4rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-out; }

.modal-footer {
  display: flex;
  justify-content: flex-end;
  height: 7rem;
  padding: 2rem 2rem 0;
  background-color: #eef0f1;
  transition: all 0.2s 0.2s; }
  .modal-footer.single-central-button {
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 0; }

.working .action-contents-wrapper,
.working .cancel-button,
.working .modal-header {
  opacity: 0.5; }

@keyframes spinner {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(175deg); } }

html,
body {
  font-size: 62.5%;
  font-family: 'robotoregular', sans-serif;
  color: #636363;
  background: #e6e9ea; }

.results-enter {
  opacity: 0.01;
  transform: translateY(3rem); }

.results-enter.results-enter-active {
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translateY(0); }

.results-exit {
  opacity: 1;
  transform: translateY(0); }

.results-exit.results-exit-active {
  opacity: 0.01;
  transition: all 500ms ease-in;
  transform: translateY(3rem); }

.app {
  text-align: center; }

.app-logo {
  height: 40vmin; }

.app-header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #1b5c7e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #196480, #0c3450);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #196480, #0c3450);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #196480, #0c3450);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.app-body {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px);
  color: #636363;
  top: 10px; }
  .app-body h1 {
    font-size: 20px;
    font-family: 'montserratregular';
    font-weight: 400;
    margin: 5rem 1rem 3rem;
    line-height: 2.4rem; }
    .app-body h1.table-header {
      display: block;
      background-color: #aebcc2;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      color: white;
      padding: 1.2rem 1rem;
      margin: 0; }

.app-link {
  color: #09d3ac; }

.loading-container {
  width: 60vw;
  height: 40vh;
  background: transparent url("img/drop-grey.svg") center center no-repeat; }

.drop-border {
  border-radius: 25px;
  display: inline-block;
  position: relative;
  border: dashed #c7c7c7 2px; }

.drop-border-dragging {
  border-radius: 25px;
  background: #cbd4d8 url("img/drop-white.svg") center center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; }

.analysis-results {
  padding-bottom: 4rem; }

.table-container {
  min-width: 30rem;
  margin: 0 1rem;
  border: 1px solid #a1b5bf;
  border-radius: 0.6rem;
  background-color: white;
  overflow: hidden; }

table {
  width: 100%;
  border-collapse: separate;
  padding: 0.6rem 1rem;
  line-height: 2.6rem;
  text-align: left;
  font-size: 1.6rem; }

td,
th {
  padding-left: 10px;
  text-align: left; }

th {
  font-weight: normal; }

.has-issues {
  color: #d47779; }

.is-clean h1 {
  color: #73ae6f; }

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #e6e9ea;
  border-radius: 3rem; }

.spinner {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 5rem;
  animation: spinner 0.4s linear infinite;
  opacity: 1;
  transition: 0.5s all; }
  .spinner::before, .spinner::after {
    content: '';
    position: relative;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #498fa7;
    border-radius: 100%; }

.loading-enter {
  transform: translateY(4rem);
  opacity: 0; }

.loading-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s all; }

.loading-exit {
  transform: translateY(0);
  opacity: 1; }

.loading-exit-active {
  transform: translateY(4rem);
  opacity: 0;
  transition: 0.5s all; }

.modal-enter {
  opacity: 0; }

.modal-enter-active {
  opacity: 1;
  transition: 0.5s all; }

.modal-enter-done {
  opacity: 1; }

.modal-exit {
  opacity: 1; }

.modal-exit-active {
  opacity: 0;
  transition: 0.5s all; }

.info-button {
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../src/img/info-icon.svg) center center no-repeat; }

.type-danger {
  background-color: rgba(255, 0, 0, 0.3);
  opacity: .8;
  border: 10;
  border-color: black;
  border-width: 10px; }

.type-warning {
  background-color: rgba(191, 212, 2, 0.274);
  opacity: .8;
  border: 10;
  border-color: black;
  border-width: 10px; }

.header-row {
  background-color: #bcc8cd;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  color: white; }

.results-section {
  padding-top: 10px; }
